@tailwind base;
@tailwind components;
@tailwind utilities;

CSS RESET * {
  margin: 0px;
  padding: 0px;
}

/* CSS VARIABLES  */
:root {
  --smallheadingfont: "Anta", sans-serif;
  --smallheadingcolor: #b5babc;
  --verysmalltextcolor: #ffffffba;
  --hoverframe: rgba(123, 123, 123, 0.274);
  --bigcontainerBG: #0a0e1b;
  --bigcontainerinnerBG: #0102034a;
  --bodycolor: #000a0f;
}

/* ROOT ROOT ROOT ROOT */
#root {
  display: flex;
  flex-direction: row;
  background-color: var(--bodycolor);
}

.techstackContainer {
  background-color: var(--bigcontainerBG);
}

#techId {
  font-family: "Ojuju", sans-serif;
}

.techBox {
  background-color: var(--bigcontainerinnerBG);
}

.flashContent {
  background-color: var(--bigcontainerinnerBG);
}

.langchain .textBox h1 {
  margin-left: 1px;
  font-family: "Anta", sans-serif;
}

.huggingfacebox .textBox h1 {
  margin-left: 10px;
}

.flaskBox .textBox h1 {
  margin-left: 10px;
}

.gradioBox .textBox h1 {
  margin-left: 6px;
}

* {
  font-family: "Anta", sans-serif;
}

/* MAINCONTAINER MAINCONTAINER MAINCONTAINER */
.maincontainer {
  height: 68%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MAININNER MAININNER MAININNER  */
.maininner {
  width: 95%;
  height: 95%;
  display: flex;
  flex-direction: row;
}

.mainLeft .tittleOne h1 {
  background: -webkit-linear-gradient(left, #ca5fff, #00ffd4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainLeft .tittleTwo h1 {
  background: -webkit-linear-gradient(left, #d157fa, #e39001c3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mainLeft .descriptionBelow {
  color: #ffffff4a;
  font-family: var(--smallheadingfont);
  font-family: "Ojuju", sans-serif;
}

/* MAINRIGHT MAINRIGHT MAINRIGHT */
.mainright {
  width: 54%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.mainRight img {
  filter: drop-shadow(-28px 1px 302px #ffffff4c) drop-shadow(-64px 1px 125px #aff0ff69) drop-shadow(-28px 1px 50px #048fd03e);
  opacity: 80%;
  position: relative;
  height: 79%;
}

.mainright img:hover {
  filter: drop-shadow(-28px 1px 30px #ffffff4c) drop-shadow(-64px 1px 125px #aff0ff69);
}

/* FEATURECONTAINER FEATURECONTAINER FEATURECONTAINER  */
.featurecontainer {
  height: 39%;
  display: flex;
  align-items: center;
  width: 100%;
}

/* FEATUREINNER FEATUREINNER FEATUREINNER  */
.featureinner {
  width: 97%;
  height: 85%;
  display: flex;
  flex-direction: column;
  background-color: var(--bigcontainerBG);
  border-radius: 10px;
  /* border: 2px solid gray; */
  margin: 0px auto;
}

/* TITTLEBOX TIITLEBOX TIITLEBOX */
.featureinner .tittlebox {
  width: 100%;
  height: 29%;
  display: flex;
  align-items: center;
}

.featureinner .tittlebox h1 {
  font-size: 3.7vh;
  color: var(--smallheadingcolor);
  margin-left: 22px;
  font-family: var(--smallheadingfont);
}

/* FEATUREGRID FEATUREGRID FEATUREGRID  */
.featureinner .featuregrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 71%;
  gap: 5px;
  margin-left: 13px;
}

/* FEATUREBOX FEATUREBOX FEATUREBOX */
.featuregrid .featurebox {
  width: 95%;
  height: 80%;
  background-color: var(--bigcontainerinnerBG);
  display: flex;
  border-radius: 18px;
  border: 1px solid var(--bigcontainerinnerBG);
  cursor: pointer;
}

.featuregrid .featurebox:hover {
  width: 95%;
  height: 80%;
  background-color: var(--bigcontainerinnerBG);
  display: flex;
  border: 0.7px solid var(--hoverframe);
}

/* FEATURELEFT FEATURELEFT */
.featuregrid .featurebox .featureboxleft {
  width: 70%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}

.featureboxleft span {
  color: var(--verysmalltextcolor);
  font-size: 2vh;
  font-family: "Ojuju", sans-serif;
}

/* FEATUREBOXRIGHT FEATUREBOXRIGHT  */
.featureboxright {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  width: 30%;
}

.feature1 img {
  height: 57%;
  width: 60%;
  border-radius: 7px;
  padding: 4px;
}

.feature2 img {
  height: 52%;
  width: 50%;
  border-radius: 7px;
  padding: 4px;
}

.feature3 img {
  height: 74%;
  width: 63%;
  border-radius: 7px;
  padding: 4px;
}

.feature4 img {
  height: 55%;
  width: 54%;
  border-radius: 7px;
  padding: 4px;
}

.feature5 img {
  height: 55%;
  width: 44%;
  border-radius: 7px;
  padding: 4px;
}

/* CHATBOTCONTAINER CHATBOTCONTAINER CHATBOTCONTAINER  */
.rightcontainer {
  /* width: 55%; */
  height: 100vh;
  overflow: hidden;
}

.chatcontainer {
  height: 100%;
  box-sizing: border-box;
}

/* .iframe{
    height: 100vh;
    width: 100%;
    overflow: hidden;
} */

gradio-app {
  border: none;
}